<div class="container home">
  <div class="apphead">
    <h1>Welcome <%= @current_user.username %>! </h1>
    <h1>Your Current Points: <%= @current_user.points %> </h1>
    <%= button_to "Logout", logout_path, method: :delete %>
  </div>
  <%= button_to "Log Daily Reading", '/daily', method: :post%>
  <br>

  <h2>Books</h2>
  <% BOOKS.each do |b|%>
    <div class="bookrow">
      <h4><b><%="#{b[0]}"%></b></h4>
      <p></p>
      <p><%="worth #{b[1]}"%></p>
      <%= button_to "Complete", "/bible?book=#{b[0]}", method: :post%>
    </div>
  <% end %>

</div>
